.img {
  border-radius: 12px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.imgbox {
  padding: 5px;
  height: auto;
  position: relative;
}

.placeholder {
  border-radius: 12px;
  display: block;
  width: 100%;
  content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  background-color: #efefef;
}

.hover {
  position: absolute;
  border-radius: 12px;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}
