@media only screen and (min-width: 600px) {
  .column {
    display: inline-block;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .column {
    display: inline-block;
    width: 25%;
  }
}

@media only screen and (max-width: 599px) {
  .column {
    display: inline-block;
    width: 100%;
  }
}
