.search {
  height: 40px;
  background-color: #efefef;
  border-radius: 8px;
  padding-left: 10px;
  width: 500px;
  cursor: text;
}

.search_dark {
  background-color: #1a1a1a;
}

.input {
  border: none;
  height: 100%;
  background-color: transparent;
  outline: none;
  margin-left: 5px;
}

.input_dark {
  color: #9e9e9e;
}

.hidden {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.keyword {
  display: inline-block;
  height: 24px;
  padding: 3px 8px;
  margin: 5px 0 0 5px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.keyword_dark {
  background-color: #3e3c3c;
  color: #9e9e9e;
  border: none;
}

.close {
  display: inline-block;
  height: 12px;
  width: 12px;
  cursor: pointer;
  vertical-align: middle;
}

.label {
  display: inline-block;
  padding-right: 4px;
}

.button {
  float: right;
  height: 100%;
  border-radius: 0 8px 8px 0;
  border: none;
  border-left: 1px solid#d8d8d8;
  padding: 0 20px;
  cursor: pointer;
  color: grey;
  outline: none;
  background-color: #efefef;
}

.button_dark {
  background-color: #1a1a1a;
  border-left: 1px solid#333333;
  color: #9e9e9e;
}
